body{
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 15% 35% 40% 10%;
    grid-template-columns: 5% 50% 5% 30% 10%;
}

#env{
    grid-row: 2/4   ;
    grid-column: 2/3;
    height: 30rem;
    width: 50rem;
    display: grid;
    grid-template-columns: repeat(500 1rem);
    grid-template-rows: repeat(30, 1rem);
    border: 1px solid black;
}

#env > button{
    border: 1px solid black;
    text-decoration: none;
    outline: none;
}

#buttons{
    grid-row: 3/4;
    grid-column: 4/5;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

#buttons > *{
    height: 3rem;
    width: 7rem;
    margin: 10px;
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
}

#info{
    grid-row: 2/3;
    grid-column: 4/5;
    font-size: 1.5rem;
}


/* 
#env > button:hover{
    background-color: red;
} */